Django>=4.2,<5.0
djangorestframework>=3.14.0
psycopg2-binary>=2.9.9
weasyprint>=60.0
django-import-export>=3.3.0
python-dotenv>=1.0.0
pytest-django>=4.7.0
pytest>=7.4.0
pandas>=2.1.0
gunicorn>=21.2.0
Pillow>=10.0.0
